<% include partials/header %>     
        <h1>ENTER THE DATE IN GIVEN PATTERN</h1>    
        <form action="/rescheduledTrains" class="form-inline" method="POST">
            <input type="text" class="form-control" placeholder="YYYYMMDD" name="date" required>
            <button type="submit" class="btn btn-primary mb-2">RESCHEDULED TRAINS</button>
        </form>
        

<% include partials/footer %>