<% include partials/header %>
        <h1>GET STATION DETAILS</h1>
        <form action="/stationName" class="form-inline" method="POST">
            PLACE NAME : <input type="text" class="form-control" name="place" placeholder="NAME OF AREA" required>
            <button class="btn btn-primary mb-2">SUBMIT</button>
        </form>


<% include partials/footer %>