<% include partials/header %>
<div>
    <h1>STATION LOCATION</h1>
    <form class="form-inline" method="POST" action="/stationLocation">
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" required placeholder="STATION CODE" name="station">
        </div>
        <button type="submit" class="btn btn-primary mb-2">SEE LOCATION</button>
    </form>
</div>
<% include partials/footer %>